{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb/base"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/extensions": 0,
    "no-await-in-loop": 0,
    "no-useless-escape": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": 0,
    "no-loop-func": 0,
    "import/prefer-default-export": 0,
    "no-param-reassign": 0,
    "no-constant-condition": 0,
    "import/no-extraneous-dependencies": 0,
    "no-nested-ternary": 0,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "no-unused-expressions": 0
    
  }
}
